<!DOCTYPE html>
<html lang="en">
<body>
    <h1>This is a test template</h1>
    <p>Have a great time at {{venue.name}}. {{gdprConsent ? 'Keep an eye out for amazing promotional offers from ' +
        'your favourite place.' : 'It was great having you here. We hope to see you soon.'}}
    </p>
</body>
</html>
